body {text-align: center;     font-size: 16;}
input {
    border: 1px solid #918f8f;
    border-radius: 8px;
    padding: 8px;
    color: #000;
    font-size: 20;
    color: #6881d3;
}
.sidebar {
    height: 100%;
    position: absolute;
    bottom: -20%;
    width: fit-content;
}